<nav class="container">
  <div class="main-menu__list">
    <li class="main-menu__item">
      <a class="main-menu__link" [routerLink]="['/home']">Home</a>
    </li>

    <li class="main-menu__item">
      <a class="main-menu__link" [routerLink]="['/aboutMe']">About Me</a>
    </li>

    <li class="main-menu__item">
      <a class="main-menu__link" [routerLink]="['/myWrites']">Blog</a>
    </li>

    <li class="main-menu__item">
      <a class="main-menu__link" [routerLink]="['/contact']">Contact</a>
    </li>
  </div>
</nav>