<body>
  <img class="img-background" src="../../assets/circuits.jpg" alt="">

  <h1>Hola mi nombre es Franco,pero me puedes llamar fran</h1>

  <section class="presentation">
    <article>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur fugiat quis dolorem, voluptatibus id,
        laborum eius impedit esse beatae facilis nesciunt odio magni laudantium, ea autem laboriosam quia repellat alias
        sapiente et! Nulla nesciunt officiis voluptatum ullam ipsum quam earum accusamus rerum veritatis! Tempore
        architecto harum quae recusandae a ipsam!</p>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti omnis dicta porro quia quos voluptates
          fugit
          excepturi modi. Modi quidem ab asperiores necessitatibus magni excepturi amet suscipit sed cupiditate fugit!
        </p>
      </div>
    </article>
  </section>

  <h2>Tecnologias</h2>

  <section class="technology">
    <h3>Front-end Stack :</h3>
    <div class="icon-container">
      <div><img class="icons " src="../../assets/png`s/html5.png" alt="Imagen de HTML 5"></div>
      <div><img class="icons " src="../../assets/png`s/css-3.png" alt="Imagen de CSS"></div>
      <div><img class="icons " src="../../assets/png`s/jscript.png" alt="Imagen de JavaScript"></div>
      <div><img class="icons " src="../../assets/png`s/Bootstrap.png" alt="Imagen de Bootstrap"></div>
      <div><img class="icons " src="../../assets/png`s/sass.png" alt="Imagen de Sass"></div>
      <div><img class="icons " src="../../assets/png`s/typescript.png" alt="Imagen de TypeScript"></div>
      <div><img class="icons " src="../../assets/png`s/GIT.png" alt="Imagen de Git"></div>
      <div><img class="icons " src="../../assets/png`s/angular.png" alt="Imagen de Angular"></div>
      <!-- <div><img class="icons" src="../../assets/png`s/c#2.png" alt="Imagen de C#"></div> -->
    </div>

    <h3>Back-End Stack</h3>
    <div class="icon-container">
      <div><img class="icons" src="../../assets/png`s/MongoDB.png" alt="Imagen de Mongo DB"></div>
      <div><img class="icons" src="../../assets/png`s/MySQL.png" alt="Imagen de MySQL "></div>
      <div><img class="icons" src="../../assets/png`s/NodeJS.png" alt="Imagen de NodeJS"></div>
    </div>
  </section>

  <!--  <h2>Experiencia</h2>

  <section class="experience">
    <div>
      <h4>Full Stack developer : Proyecto final de Bootcamp</h4>
    </div>
  </section> -->

  <h2>Proyectos personales</h2>
  <section class="proyects">
    <div>
      <h4>Fetch Weather++</h4>
    </div>
    <div>
      <h4>ThiagAPP</h4>
    </div>
  </section>

  <h2>🎓Educación</h2>
  <section class="education">
    <article class="container-education">
      <div class="CodeHouseAcademy-box">
        <img class="CodeHouseAcademy" src="../../assets/png`s/ba2ab028-b147-4173-930f-d1f0fdfec31e.png"
          alt="CodeHouseAcademy logo">
      </div>

      <h3>Bootcamp Full Satck Web Developer + Especializacion en .NET , Desarrollo de páginas web</h3>

      <h4>Estudiando Actualmente</h4>

      <p>
        Formacion intensiva de 6 meses / 650 horas . En las que estoy ampliando mis conocimientos y desarrollandome en
        las siguentes tecnologias y lenguajes :
      </p>

      <p class="container-module">
        <span>📚 <b>Módulo 1</b> : Frontend, HTML, CSS, Bootstrap, Tailwind, SASS, UX/UI, Webs Responsive,
          GIT/Github</span>
        <span>📚 <b>Módulo 2</b>: Javascript ES6 Avanzado</span>
        <span>📚 <b>Módulo 3</b>: Typescript, Angular, MySQL, MongDB</span>
        <span>📚 <b>Módulo 4</b>: Backend, Node, NodeJS + Express</span>
        <span>📚 <b>Módulo 5</b>: POO, Objetos C#, SOLID, C# Avanzado, API Rest</span>
        <span>📚 <b>Módulo 6</b>: Proyecto Final</span>
        <span>📚 <b>Masterclass</b>: Cloud Computing Azure, Design Thinking, Power BI</span>
      </p>

    </article>

    <!--  <div>
      <h3>Curso de Python sin fronteras</h3>
      <h4>Udemy || Nicolas Schurmann</h4>
    </div> -->

  </section>

</body>