<body>
  <img class="img-background" src="../../assets/circuits.jpg" alt="">

  <h1>Hola mi nombre es Franco Alderete Martinez , pero me puedes llamar fran</h1>

  <section class="presentation">
    <article>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur fugiat quis dolorem, voluptatibus id,
        laborum eius impedit esse beatae facilis nesciunt odio magni laudantium, ea autem laboriosam quia repellat alias
        sapiente et! Nulla nesciunt officiis voluptatum ullam ipsum quam earum accusamus rerum veritatis! Tempore
        architecto harum quae recusandae a ipsam!</p>
    </article>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti omnis dicta porro quia quos voluptates fugit
        excepturi modi. Modi quidem ab asperiores necessitatibus magni excepturi amet suscipit sed cupiditate fugit!</p>
    </div>
  </section>

  <h2>Tecnologias</h2>

  <section class="technology">
    <h3>Front-end Stack :</h3>
    <div class="icon-container">
      <div><img class="icons " src="../../assets/png`s/html5.png" alt="Imagen de HTML 5"></div>
      <div><img class="icons " src="../../assets/png`s/css-3.png" alt="Imagen de CSS"></div>
      <div><img class="icons " src="../../assets/png`s/jscript.png" alt="Imagen de JavaScript"></div>
      <div><img class="icons " src="../../assets/png`s/Bootstrap.png" alt="Imagen de Bootstrap"></div>
      <div><img class="icons " src="../../assets/png`s/sass.png" alt="Imagen de Sass"></div>
      <div><img class="icons " src="../../assets/png`s/typescript.png" alt="Imagen de TypeScript"></div>
      <div><img class="icons " src="../../assets/png`s/GIT.png" alt="Imagen de Git"></div>
      <div><img class="icons " src="../../assets/png`s/angular.png" alt="Imagen de Angular"></div>
      <!-- <div><img class="icons" src="../../assets/png`s/c#2.png" alt="Imagen de C#"></div> -->
    </div>

    <h3>Back-End Stack</h3>
    <div class="icon-container">
      <div><img class="icons" src="../../assets/png`s/MongoDB.png" alt="Imagen de Mongo DB"></div>
      <div><img class="icons" src="../../assets/png`s/MySQL.png" alt="Imagen de MySQL "></div>
      <div><img class="icons" src="../../assets/png`s/NodeJS.png" alt="Imagen de NodeJS"></div>
    </div>
  </section>