<img class="img-background" src="../../assets/spacecode.jpg" alt="Computadores vintage">

<body class="main-bg">

  <main>
    <h1>¡Bienvenidos al blog!</h1>
    <section>
      <!-- <img class="png" src="../../assets/bosquejo.png" alt="Imagen png de un diamante"> -->
      <p>Desde muy chico que soy una persona a la que le gusta expresar sus ideas , lo he hecho a travez de muchas
        maneras como la escritura tambien lo he hecho a travez de la música y desde que descubri la programacion intento
        implantar mi estilo y mis ideas en cada web que diseño. <br><br> En esta seccion
        de
        mi página te encontraras informacion acerca de las tecnologias que mas me interesan y otros
        temas que tienen que ver con todo este hermoso mundo . Realizare articulos de lenguajes , tecnologias etc...
        donde si tu quieres puedes acceder a ellos y encontraras más información </p>
    </section>

    <h2>Articulos</h2>

    <section>

      <article>
        <div>

          <h2>NodeJS</h2>
          <p>Es una tecnología para el desarrollo de aplicaciones de propósito general. Básicamente consiste en una
            plataforma de ejecuión de JavaScript, lo que se conoce como un "runtime", sobre la que se pueden ejectuar
            todo tipo de programas</p>
          <button>Ver más...</button>
        </div>
      </article>

      <article>
        <div>
          <h2>MongoDB</h2>
          <p>Es una base de datos (NOSQL). Trabaja con documentos los cuales forman colecciones, comparando con las
            bases de datos relacionales, las colecciones son tablas. A diferencia de las tablas estas permiten guardar
            documentos con diferentes formatos, no estan sometidos a un esquema fijo y los documentos son registros.
            Estos documentos se almacenan en BSON que es un formato modificado de JSON que agiliza la búsqueda de los
            datos </p>
          <button>Ver más...</button>
        </div>
      </article>

      <article>
        <div>
          <h2>MySQL</h2>
          <p>Presenta algunas ventajas que lo hacen muy interesante para los desarrolladores. La más evidente es que
            trabaja con bases de datos relacionales, es decir , utiliza tablas multiples que se interconectan entre si
            para almacenar la informacion y organizarla correctamente </p>
          <button>Ver más...</button>
        </div>
      </article>

    </section>

    <section class="banner">
      <p class="citas">"Hardware: las partes de un ordenador que pueden ser pateadas"
        -- Jeff Pesis</p> <!-- hacer un bucle para pasar distintas citas  -->
    </section>

    <aside>
      <div>
        <h2>Más Articulos</h2>
        <nav>
          <a>¿Qué es el formato JSON?</a>
          <a>¿Qué son los verbos HTTP?</a>
          <a>Libreria AOS para Angular</a>
          <a>Los comandos de la consola</a>
          <a>Formularios en angular</a>
        </nav>
      </div>
    </aside>

  </main>

</body>