<body class="contenedor ">
  <!-- <img class="img-background" src="../../assets/computadora-verde.jpg" alt=""> -->
  <h1>Franco Alderete Martinez</h1>
  <h2><span class="front-end">Front-end</span> Developer</h2>

  <video src="../../assets/Astronave - 82659.mp4" autoplay="false" muted="true" loop="true"></video>

  <section class="galery-rute ">
    <img src="../../assets/linkedin.jpg" alt="Imagen de LinkedIn">
    <img src="../../assets/github.png" alt="Imagen de GitHub">
    <img src="../../assets/wallpaperbetter.jpg" alt="Imagen de Instagram">
  </section>


</body>